{% extends "layout.html" %}






{% block content %}



 <h2>Please Contribute to help us improving this Blog</h2>

 <p> if you want to use Paypal please clic <a href=" ">here</a></p>
<div class="col-sm-4" id="about-picture">
  <img class="left" 
src="static/wepay.jpeg" width="100%" height="auto"
 alt="" title="" style="float:left;margin:0 10px 0 20px;padding:5px;border-radius:500px" />
  </div><br>
  <br>
  <div class="col-sm-4" id="about-picture">
  <img class="left" 
src="static/alipay.jpeg" width="100%" height="auto"
 alt="" title="" style="float:left;margin:0 10px 0 20px;padding:5px;border-radius:500px" />
  </div>

{% endblock content %}